      h1 {
        color: purple;
      }
      h2 {
        color: brown;
        font-family: "Abel", sans-serif;
        font-weight: 200;
      }
      h3 {
        color: blue;
      }
      h4 {
        color: teal;
      }

      h5 {
        color: grey;
      }

      p {
        color: red;
      }

      body {
        background-color: tan; 
      }

      .important {
        font-weight: bold;
      }

      .important:hover {
        background-color: pink;
      }

      .important {
        width: 50%;
      }
      .important {
        font-size: 125%;
      }

      ul {
        list-style: none;
      }

      ul li {
        margin-bottom: 8px;
      }
   
      a[href="https://homewellcares.com/in-home-care-wa-seattle-wa118/"] {
        background-color: orange;
      } 
      a[href="https://www.snapon.com"] {
        background-color: yellow;
      }
      a[href="https://www.7-eleven.com"] {
        background-color: orange;
      }
      a[href="https://www.jackinthebox.com"] {
        background-color: yellow;
      }

      h1 {
        border-style: solid;
        border-width: 1px;
        border-color: red;
      }

      #lead-paragraph {
        color: red;
        font-weight: bold;
      }

      footer a:hover {
        color: blue;
        font-size: 150%;
        font-family: cursive;
      }
      aside a {
        text-decoration: none;
        color: green;
      }
      aside a:hover {
        text-decoration: underline;
      }

      .box {
        height: 150px;
        width: 150px;
        border: 15px solid white;
        background: pink;
      }

      .container {
        height: 250px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
       }
       h6 {
        color: brown;
        display: flex;
        justify-content: center;
      }

    
